.wy-nav-content {
    max-width: 80% !important;
}


h1{
    color: #000000;
    font-size: 20pt;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #e8e9ea;
}

h2{
    color: #335183;
    font-size: 18pt;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.wy-nav-top {
    background-color: #007e00 !important;
}
.wy-side-nav-search {
    background-color: #007e00 !important;
}

.tight-table td {
    white-space: normal !important;
}


.math {
    text-align: left;
}
.eqno {
    float: right;
}

.wy-nav-content{
    text-align:justify;
}
